
<p>Current Balance = @ViewBag.Balance</p>
<form action="WithDraw" method="post">
    <input name="amount" type="number" />
    <button type="submit"> WithDraw</button>
</form>
<p>@ViewBag.Message</p>
